<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="stylesheet" type="text/css" href="../static/js/jquery-3.3.1.js">
    <link rel="stylesheet" type="text/css" href="../static/jquery-easyui-1.6.8/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="../static/jquery-easyui-1.6.8/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="../static/jquery-easyui-1.6.8/demo/demo.css">
    <script type="text/javascript" src="../static/jquery-easyui-1.6.8/jquery.min.js"></script>
    <script type="text/javascript" src="../static/jquery-easyui-1.6.8/locale/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="../static/jquery-easyui-1.6.8/jquery.easyui.min.js"></script>
    <!--如果引入这个高的版本,就会造成很多错误,因为这个和easyui的js不是配套的--实测-->
    <!--<script type="text/javascript" src="../static/js/jquery-3.3.1.js"></script>-->
    <script type="text/javascript" src="../static/js/datagrid-detailview.js"></script>
    <!--引入自己抽取的js代码-注意需要在script标签里写th:inline="none",才能正常解析传递过的指定格式的json数据-->
    <script th:inline="none" src="../static/js/backCommon.js"></script>
    <meta charset="UTF-8">
    <title>用户后台管理</title>
</head>
<body>
<div class="easyui-layout" data-options="fit:true">
    <!------------------------------------------------------------------------------------------------------->
    <div data-options="region:'north',border:false,split:true" style="height:75px;background:#B3DFDA;padding:3px;"
         align="right">
        <h2 align="center" style="color: blue;padding-bottom: 1px">用户管理后台系统</h2>
        <!--autocomplete="on" 用来控制刷新页面时,输入框里的值是否清除,off时会清除,on不会-->
        <!--data-options="prompt:'用户名'" 这个用来设置easyui情况的easyui-textbox的搜索框的提示,
        原始的那个在这里不生效-->
        <input id="search" class="easyui-textbox" type="text" align="center" autocomplete="off"
               data-options="prompt:'用户名'" iconCls="icon-search"
               style="width: 130px;height: 25px;">
        <a href="javascript:void(0)" style="width:50px;height: 25px;" class="easyui-linkbutton"
           onclick="query()">搜索</a>
    </div>
    <!------------------------------------------------------------------------------------------------------->
    <div data-options="region:'west',split:true,hideCollapsedContent:false,collapsed:false"
         title="<center>系统菜单</center>" style="width:18%;padding:1px;">
        <div class="easyui-accordion" style="width:300px;height:200px;" data-options="fit:true">
            <div title="我的菜单" iconCls="icon-menu" iconAlign="right">
                <ul id="tree"></ul>
            </div>
        </div>
    </div>
    <!------------------------------------------------------------------------------------------------------->
    <div data-options="region:'east',split:true,collapsed:true,title:'East'" style="width:100px;padding:10px;">east
        region
    </div>
    <!------------------------------------------------------------------------------------------------------->
    <div data-options="region:'center',title:'用户管理中心'">
        <div id="tt" class="easyui-tabs" style="width:500px;height:250px;" data-options="fit:true">
            <div title="用户管理" style="padding:3px;display:none;">
                <!------------------------------------------------------------------------------------------------------>
                <table id="dg" class="easyui-datagrid" style="width:100%;height:100%"></table>
                <!------------------------------------------------------------------------------------------------------>
                <!--plain="true"这个可以去除按钮的边框,让按钮和背景融合-->
                <!------------------------------------------------------------------------------------------------------>
            </div>
        </div>
        <!--@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->
        <div id="win" title="用户信息" style="width:500px;height:365px;padding:5px;background-color: #6b9cde">
            <form id="fo" method="post">
                <table align="center" style="border-collapse:separate; border-spacing:0px 11px;">
                    <!--设置隐藏的输入框获取id-->
                    <tr>
                        <td colspan="2"><input type="hidden" name="id" id="id"/></td>
                    </tr>
                    <tr>
                        <td align="right"><label>用户名:</label></td>
                        <td align="center"><input name="username" id="username" type="text" class="easyui-validatebox"
                                                  data-options="required:true,validType:'length[1,20]'"
                                                  missingMessage="输入内容不能为空" invalidMessage="该内容不能超过20字"/>
                        </td>
                    </tr>
                    <tr>
                        <td align="right"><label>部门:</label></td>
                        <td align="center"><input name="department" id="department" type="text"
                                                  class="easyui-validatebox"
                                                  data-options="required:true,validType:'length[0,25]'"
                                                  missingMessage="输入内容不能为空" invalidMessage="该内容不能超过25字"/>
                        </td>
                    </tr>
                    <tr>
                        <td align="right"><label>职位:</label></td>
                        <td align="center"><input name="position" id="position" type="text" class="easyui-validatebox"
                                                  data-options="required:true,validType:'length[0,25]'"
                                                  missingMessage="输入内容不能为空" invalidMessage="该内容不能超过25字"/>
                        </td>
                    </tr>
                    <tr>
                        <td align="right"><label>电话:</label></td>
                        <td align="center"><input name="phone" id="phone" type="text" class="easyui-validatebox"
                                                  data-options="required:true,validType:'length[11,11]'"
                                                  missingMessage="输入内容不能为空" invalidMessage="该内容输入有误"/>
                        </td>
                    </tr>
                    <tr>
                        <td align="right"><label>用户类型:</label></td>
                        <td align="left">
                            <select id="from" type="text" name="from" class="easyui-combobox"
                                    style="width: 100px;height: 30px" panelHeight="auto">
                                <option value="1">前台</option>
                                <option value="2">后台</option>
                            </select>
                        </td>
                    </tr>
                </table>
            </form>
            <!--00000000000000000000000000000000000000000000000000000000000000000-->
            <div id="add-buttons" align="right" style="padding: 20px">
                <a id="add" href="javascript:void(0)" class="easyui-linkbutton" style="background-color: #4b72a4"
                   onclick="userAdd()">添加</a>
                <a id="update" href="javascript:void(0)" class="easyui-linkbutton" style="background-color: #4b72a4"
                   onclick="userUpdate()">保存</a>
                <a href="javascript:void(0)" class="easyui-linkbutton" style="background-color: #4b72a4"
                   onclick="reset()">重置</a>
                <a href="javascript:void(0)" class="easyui-linkbutton" style="background-color: #4b72a4"
                   onclick="javascript:$('#win').window('close')">取消</a>
            </div>
            <!--00000000000000000000000000000000000000000000000000000000000000000-->
            <!--@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->
        </div>
    </div>
</div>
<!--弹框代码,实测不能抽取引入,因为需要在body后载入-->
<script>
    //------------------------------------------------------------------
    $("#username").textbox({
        iconCls: 'icon-man',
        iconAlign: 'right'
    });
    $("#headUrl").textbox({
        iconCls: 'icon-head',
        iconAlign: 'right'
    });
    $("#department").textbox({
        iconCls: 'icon-department',
        iconAlign: 'right'
    });
    $("#position").textbox({
        iconCls: 'icon-position',
        iconAlign: 'right'
    });
    $("#phone").textbox({
        iconCls: 'icon-phone',
        iconAlign: 'right'
    });
    //------------------------------------------------------------------
    //注意如果使用了js来弹框,就不需要在标签那里设置class和其他的宽和高等信息,免得冲突(实测就因此被坑)
    $('#win').window({
        iconCls: 'icon-save',
        closed: true,
        cache: false,
        modal: true
    });
</script>
<!------------------------------------------------------------------------------------------------------->
</body>
</html>